<div class="center jumbotron">
  <h1>Welcome to the Payroll</h1>

  <h2>
    This is the home page for the
    <!-- <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> -->
    sample payroll. <br><br><br>
  </h2>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("intelimina logo 1.jpg", width: 135, height: 100, alt: "Intelimina logo"),  'https://www.facebook.com/Intelimina/' %>