<h1> Pagibig Bracket </h1>

<div class="pagibig_bracket" >
<%= image_tag 'pagibig_bracket.png', width: 500, height: 300 %>
</div>

<div class="back" >
<%= link_to "Go back", user_payslip_path %>
</div>