<h1> Philhealth Bracket </h1>

<div class="philhealth_bracket" >
<%= image_tag 'philhealth_bracket.png', width: 900, height: 900 %>
</div>

<div class="back" >
<%= link_to "Go back", user_payslip_path %>
</div>