<h1> Withholding Tax Bracket </h1>

<div class="withholding_bracket" >
<%= image_tag 'withholding_tax.png', width: 600, height: 500 %>
</div>

<div class="back" >
<%= link_to "Go back", user_payslip_path %>
</div>