<ul id="payroll-<%= payroll.id %>">
  <br>
  <br>
  <!-- <span class="category"><h4>Period:</h4><%= payroll.period %></span> -->

  <table style="width:100%">
  <tr>
    <th>Employees</th>
    <th>Account Number</th> 
    <th>Bank</th>
    <th>Base Salary</th>
    <th>Deductions</th>
    <th>Allowances, Reimbursements, Adjustments</th>
    <th>Final</th>
    
  </tr>
  <tr>
    <td><%= @user.username %></td>
    <td>009999888877777</td>
    <td><%= @user.bank %></td>
    <td>P20,000</td>
    <td>P20,000</td>
    <td>P20,000</td>
    <td>P20,000</td>
  </tr>
  <tr>
    <td>Rystraum Gamonez</td>
    <td>009999888877777</td>
    <td>BPI</td>
    <td>P20,000</td>
    <td>P20,000</td>
    <td>P20,000</td>
    <td>P20,000</td>
  </tr>
  <tr>
    <td>Ryan Jay Dayrit</td>
    <td>009999888877777</td>
    <td>BPI</td>
    <td>P20,000</td>
    <td>P20,000</td>
    <td>P20,000</td>
    <td>P20,000</td>
  </tr>

</table>

</ul>