<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      
        <th><%= hello %></th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    
      <tr>
         hello
      </tr>
    <%- end -%>
  </tbody>
</table>